<div
	class="dialogs"
	hidden>
	<div class="close-backdrop"></div>

	<div
		id="dialog"
		role="dialog"
		aria-modal="true"
		aria-labelledby="dialog-title"
		aria-describedby="dialog-description"
		class="dialog modal"
		hidden>
		<div class="modal__content">
			<div class="modal__body">
				<h2
					id="dialog-title"
					class="modal__title title">
					This is an example page
				</h2>
				<p
					id="dialog-description"
					class="modal__text text">
					So this link is not real. You can continue viewing the page by closing this modal window or return to the portfolio.
				</p>
			</div>
			<div class="modal__footer">
				<div class="modal__actions">
					<button
						class="modal__button button"
						data-assignment="close-dialog"
						aria-label="close">
						Close&nbsp;modal&nbsp;window
					</button>
					<a
						class="modal__button button"
						href="https://yllaciarbegla.github.io/portfolio/"
						target="_blank">
						Back&nbsp;to&nbsp;portfolio
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
