.hero {
	padding-block-start: 1.5rem;
	margin-block-end: 1.5rem;

	@media screen and (min-width: 768px) {
		padding-block-start: 3rem;
		margin-block-end: 4.5rem;
	}

	&__wrapper {
		padding: 1.5rem 1rem;
		border-radius: 1.5rem;
		background-color: var(--black);

		display: grid;
		gap: 1.5rem;

		@media screen and (min-width: 768px) {
			padding: 4.5rem 2rem 3rem;
			border-radius: 2rem;
		}
	}

	&__title {
		position: relative;
		text-transform: uppercase;
		color: var(--white);

		@media screen and (max-width: 425px) {
			font-size: 2.2rem;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0.875rem;
			margin-inline-start: 0.5rem;
			display: inline-block;
			width: 32px;
			height: 32px;
			background-image: url(../img/icons/star.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			@media screen and (min-width: 768px) {
				width: 64px;
				height: 64px;
				bottom: 1rem;
			}
		}
	}

	&__slogan {
		color: var(--white);

		@media screen and (max-width: 1023.9px) {
			padding-block-start: 0.5rem;
			margin-block-end: 1rem;
			text-align: center;
			order: 1;
		}
	}

	&__cards {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@media screen and (min-width: 768px) {
			gap: 1rem;
		}
		@media screen and (min-width: 1024px) {
			flex-direction: row;
			max-height: 500px;
		}
	}
}

.hero-cards {
	&__item {
		padding: 1.5rem;
		border-radius: 1rem;
		border: 5px dashed var(--blue);
		background-color: var(--yellow);
		transition: all 0.4s;

		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr auto;
		grid-template-rows: repeat(3, auto);

		@media screen and (min-width: 768px) {
			padding: 2rem;
			border-radius: 1.5rem;
		}

		@media screen and (min-width: 1024px) {

			flex-basis: 25%;

			&[data-active='true'] {
				flex: 1 0;
			}
		}
		@media screen and (min-width: 1440px) {
			grid-template-rows: 240px auto auto;

			&[data-active='true'] {
				flex: 1 0 50%;
			}
		}

		&:focus-visible {
			border-style: solid;
			border-color: var(--red);
			color: var(--white);
			background-color: var(--red);
		}

		@media (hover: hover) {
			&:hover {
				border-style: solid;
				border-color: var(--red);
				color: var(--white);
				background-color: var(--red);
			}
		}

		&:not([data-active='true']) {
			cursor: pointer;

			&::before {
				content: 'Tap to expand';
				font-family: var(--first-family);
				font-weight: 500;
				line-height: 2;
				grid-row: 3/-1;
				align-self: flex-end;
			}

			@media screen and (max-width: 1439.9px) {
				.hero-cards__image {
					display: none;
				}
			}

			.hero-cards__text {
				display: none;
			}
		}

		&_blue {
			border-style: solid;
			color: var(--white);
			background-color: var(--blue);
		}
	}

	&__image-wrapper {
		grid-column: span 2;
	}

	&__image {
		width: 100%;
		height: 15rem;
		border-radius: 1rem;

		&_bottom {
			object-position: bottom;
		}
	}

	&__title {
		grid-column: 1/2;
		grid-row: 1/2;

		@media screen and (min-width: 1024px) {
			grid-column: 1/-1;
		}

		@media screen and (min-width: 1440px) {
			grid-row: 2/3;
		}
	}

	&__text {
		overflow: hidden;
		grid-column: span 2;
		grid-row: 3/-1;

		@media screen and (min-width: 1024px) {
			grid-column: 1/2;
			grid-row: 3/-1;
		}

		@media screen and (min-width: 1440px) {
			grid-column: 1/2;
			grid-row: 3/-1;
		}
	}

	&__number {
		grid-column: 2/-1;
		grid-row: 1/2;

		@media screen and (min-width: 1024px) {
			grid-row: 3/-1;
			align-self: flex-end;
		}

		@media screen and (min-width: 1440px) {
			grid-row: 2/-1;
		}
	}
}
