<div class="@@classes social">
	<ul class="social__list">
		<li>
			<a
				href=""
				data-root-modal="true"
				data-assignment="open-dialog"
				data-target="#dialog"
				aria-label="Instagram"
				class="social__link social__link social__link_inst"></a>
		</li>
		<li>
			<a
				href=""
				data-root-modal="true"
				data-assignment="open-dialog"
				data-target="#dialog"
				aria-label="Twitter"
				class="social__link social__link social__link_twitter"></a>
		</li>
		<li>
			<a
				href=""
				data-root-modal="true"
				data-assignment="open-dialog"
				data-target="#dialog"
				aria-label="Linkedin"
				class="social__link social__link social__link_linkedin"></a>
		</li>
	</ul>
</div>
