.cursor,
.aura {
	border-radius: 100%;

	@media only screen and (hover: none) and (pointer: coarse) {
		display: none;
	}

	&.hidden {
		opacity: 0;
		visibility: hidden;
	}
}

.cursor {
	position: fixed;
	z-index: -1;
	width: calc(var(--index) * 0.54);
	height: calc(var(--index) * 0.54);
	transform: translate(-50%, -50%);
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.674);
	transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease,
		transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;

	&.active {
		background-color: rgba(0, 0, 0, 0);
	}
}

.aura {
	position: fixed;
	z-index: -2;
	left: 0;
	top: 0;
	width: calc(var(--index) * 1.73);
	height: calc(var(--index) * 1.73);
	border: 1px solid rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
	transform: translate(-50%, -50%);
	transition: all 150ms ease-out;
	pointer-events: none;

	&.active {
		border: 1px solid rgba(0, 0, 0, 0.8);
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
	}
}

.cursorinnerhover {
	width: calc(var(--index) * 1.73);
	height: calc(var(--index) * 1.73);
	opacity: 0.5;
}

html.dark {
	.cursor {
		background-color: rgba(255, 255, 255, 0.674);

		&.active {
			background-color: rgba(255, 255, 255, 0);
		}
	}

	.aura {
		border: 1px solid rgba(255, 255, 255, 0.6);
		box-shadow: 0 0 7px rgba(255, 255, 255, 0.6);

		&.active {
			border: 1px solid rgba(255, 255, 255, 0.8);
		}
	}
}
