.footer {
	&__top {
		margin-block-end: 3rem;
	}

	&__button {
		width: fit-content;
		display: block;
	}

	&__title {
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 1.3;
		letter-spacing: -0.02em;

		@media screen and (min-width: 768px) {
			font-size: 3rem;
			line-height: 1.5;
		}

		@media screen and (min-width: 1024px) {
			font-size: 2.8rem;
			line-height: 1.5;
		}
		@media screen and (min-width: 1250px) {
			font-size: 3rem;
			line-height: 1.5;
		}
	}

	&__center {
		margin-block-end: 3rem;
		padding-block-end: 1.5rem;
		border-block-end: var(--border-1px);

		display: grid;
		gap: 1.5rem;

		@media screen and (min-width: 1024px) {
			padding-block-end: 3.125rem;

			grid-template-areas:
				'supp adr adr adr'
				'nav nav nav social';
			gap: 3.5rem;
		}
	}

	&__support {
		@media screen and (min-width: 1024px) {
			grid-area: supp;
		}
	}

	&__support-title {
		font-weight: 600;
		font-size: 1.3rem;
		line-height: 1.2;
		letter-spacing: -0.02em;
		margin-block-end: 1rem;

		@media screen and (min-width: 768px) {
			font-size: 2.8rem;
			line-height: 1.5;
		}

		@media screen and (min-width: 1024px) {
			font-size: 2.3rem;
		}
		@media screen and (min-width: 1250px) {
			font-size: 2.5rem;
		}
	}

	&__addresses {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 2rem;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			column-gap: 4rem;
			row-gap: 1.25rem;
		}
		@media screen and (min-width: 1024px) {
			justify-content: flex-end;
			grid-area: adr;
			column-gap: 4rem;
		}
	}

	&__navigation {
		@media screen and (min-width: 1024px) {
			grid-area: nav;
		}

		.navigation__toggler {
			display: none;
		}

		.navigation__links-list {
			visibility: visible;
			position: relative;
			left: 0;
			top: 0;
			padding-block: 1.25rem;
			padding-inline: 0;
			min-height: auto;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			gap: 2rem;
			flex-wrap: wrap;

			font-size: 1.25rem;
			transition: left 0;
		}
	}

	&__social {
		@media screen and (min-width: 1024px) {
			grid-area: social;
			align-self: center;
		}
	}

	&__bottom {
		line-height: 1.375;
		margin-block-end: 3rem;

		p {
			margin-block-end: 1.25rem;
		}
	}
}
.addresses {
	&__item {
		font-size: 16px;
		color: var(--dark-color);

		address {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			font-style: normal;
			font-size: 1.125rem;

			@media screen and (min-width: 1024px) {
				justify-content: flex-start;

				p {
					line-height: 1.6;
				}
			}

			p {
				margin-block-end: 1rem;
			}
			a {
				color: var(--dark-color);
			}
		}
	}
}
