.contact-page {
	&__wrapper {
		height: 100%;
		padding-block: 5.625rem 6.25rem;
		padding-inline: 0.9375rem;

		@media screen and (min-width: 1024px) {
			max-width: 50%;
			margin-inline: auto;
		}
	}

	&__form {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 1.5rem;
	}

	&__title {
		font-size: 2.5rem;
		line-height: 1.3;
		letter-spacing: -0.02em;

		@media screen and (min-width: 1024px) {
			font-size: 3rem;
		}
	}

	&__description {
		font-size: 1.5rem;
		line-height: 1.3;
		letter-spacing: -0.02em;

		@media screen and (min-width: 640px) {
			max-width: 60%;
		}
		@media screen and (min-width: 1280px) {
			max-width: 50%;
		}
	}

	&__title,
	&__description {
		text-align: center;
	}
}
.form {
	&__toggler {
		position: relative;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		border: var(--border-1px);

		@media screen and (min-width: 640px) {
			max-width: 60%;
		}
		@media screen and (min-width: 1280px) {
			max-width: 50%;
		}

		&::before {
			content: '';
			z-index: -1;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 50%;
			background-color: var(--dark-color);
			pointer-events: none;
			transition: all 0.4s linear;
		}

		&[data-input-type='tel'] {
		}
		&[data-input-type='email'] {
			&::before {
				left: 50%;
			}
		}
	}

	&__input {
		width: 100%;
		padding-block: 1.25rem;
		padding-inline: 1.5rem;

		border: var(--border-1px);
		border-color: rgba(6, 5, 15, 0.6);

		line-height: 1.3;
		letter-spacing: -0.02em;

		@media screen and (min-width: 640px) {
			max-width: 60%;
		}
		@media screen and (min-width: 1024px) {
			max-width: 50%;
		}

		&::placeholder {
			color: rgba(178, 178, 178, 1);
		}

		&:disabled {
			border-color: rgba(6, 5, 15, 0.1);
			color: rgba(6, 5, 15, 0.1);
		}

		&:focus {
			border: 1.5px solid var(--dark-color);
		}
	}
	&__button {
		@media screen and (max-width: 639px) {
			width: 100%;
		}
	}
}

.toggler {
	&__button {
		padding-block: 0.625rem;
		padding-inline: 1rem;
		flex: 1 0 50%;
		border: var(--border-1px) var(--dark-color);
		background-color: transparent;
		color: var(--dark-color);
		transition: color 0.4s;

		&_active {
			color: var(--light-color);
		}

		&:focus-visible {
			border-color: transparent;
		}
		@media (hover: hover) {
			&:hover {
				border-color: transparent;
			}
		}
		@media (hover: none) {
			&:active {
				border-color: transparent;
			}
		}

		&_phone {
		}
		&_mail {
		}
	}
}
