<div class="accordion">
	<div class="accordion__item accordion-item">
		<button
			class="accordion-item__trigger"
			aria-expanded="false"
			aria-controls="first-item-content">
			@@title1
			<span class="accordion-item__icon">
				<svg
					width="12"
					height="7"
					viewBox="0 0 12 7"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M11 6L6 1L1 6"
						stroke="black"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round" />
				</svg>
			</span>
		</button>
		<div
			id="first-item-content"
			class="accordion-item__content collapsible collapsible_collapsed text">
			@@text1
		</div>
	</div>

	<div class="accordion__item accordion-item">
		<button
			class="accordion-item__trigger"
			aria-expanded="false"
			aria-controls="second-item-content">
			@@title2
			<span class="accordion-item__icon">
				<svg
					width="12"
					height="7"
					viewBox="0 0 12 7"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M11 6L6 1L1 6"
						stroke="black"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round" />
				</svg>
			</span>
		</button>
		<div
			id="second-item-content"
			class="accordion-item__content collapsible collapsible_collapsed text">
			@@text2
		</div>
	</div>

	<div class="accordion__item accordion-item">
		<button
			class="accordion-item__trigger"
			aria-expanded="false"
			aria-controls="third-item-content">
			@@title3
			<span class="accordion-item__icon">
				<svg
					width="12"
					height="7"
					viewBox="0 0 12 7"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M11 6L6 1L1 6"
						stroke="black"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round" />
				</svg>
			</span>
		</button>
		<div
			id="third-item-content"
			class="accordion-item__content collapsible collapsible_collapsed text">
			@@text3
		</div>
	</div>

	<div class="accordion__item accordion-item">
		<button
			class="accordion-item__trigger"
			aria-expanded="false"
			aria-controls="fourth-item-content">
			@@title4
			<span class="accordion-item__icon">
				<svg
					width="12"
					height="7"
					viewBox="0 0 12 7"
					fill="none"
					xmlns="http://www.w3.org/2000/svg">
					<path
						d="M11 6L6 1L1 6"
						stroke="black"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round" />
				</svg>
			</span>
		</button>
		<div
			id="fourth-item-content"
			class="accordion-item__content collapsible collapsible_collapsed text">
			@@text4
		</div>
	</div>
</div>
