<div class="accordion">
	<div class="accordion__item accordion-item">
		<button
			class="accordion-item__trigger"
			aria-expanded="false"
			aria-controls="first-item-content">
			@@title
			<svg
				class="accordion-item__icon accordion-icon"
				width="26"
				height="26"
				viewBox="0 0 26 26"
				fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					class="accordion-icon__round"
					d="M13 0.999999C6.37259 0.999998 1 6.37258 1 13C1 19.6274 6.37258 25 13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 0.999999Z"
					stroke="black"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					class="accordion-icon__angle"
					d="M18 15L13 10L8 15"
					stroke="black"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
		</button>
		<div
			id="first-item-content"
			class="accordion-item__content collapsible collapsible_collapsed text">
			@@text
		</div>
	</div>

	<div class="accordion__item accordion-item">
		<button
			class="accordion-item__trigger"
			aria-expanded="false"
			aria-controls="second-item-content">
			@@title
			<svg
				class="accordion-item__icon accordion-icon"
				width="26"
				height="26"
				viewBox="0 0 26 26"
				fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					class="accordion-icon__round"
					d="M13 0.999999C6.37259 0.999998 1 6.37258 1 13C1 19.6274 6.37258 25 13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 0.999999Z"
					stroke="black"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					class="accordion-icon__angle"
					d="M18 15L13 10L8 15"
					stroke="black"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
		</button>
		<div
			id="second-item-content"
			class="accordion-item__content collapsible collapsible_collapsed text">
			@@text
		</div>
	</div>

	<div class="accordion__item accordion-item">
		<button
			class="accordion-item__trigger"
			aria-expanded="false"
			aria-controls="third-item-content">
			@@title
			<svg
				class="accordion-item__icon accordion-icon"
				width="26"
				height="26"
				viewBox="0 0 26 26"
				fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					class="accordion-icon__round"
					d="M13 0.999999C6.37259 0.999998 1 6.37258 1 13C1 19.6274 6.37258 25 13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 0.999999Z"
					stroke="black"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					class="accordion-icon__angle"
					d="M18 15L13 10L8 15"
					stroke="black"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
		</button>
		<div
			id="third-item-content"
			class="accordion-item__content collapsible collapsible_collapsed text">
			@@text
		</div>
	</div>

	<div class="accordion__item accordion-item">
		<button
			class="accordion-item__trigger"
			aria-expanded="false"
			aria-controls="fourth-item-content">
			@@title
			<svg
				class="accordion-item__icon accordion-icon"
				width="26"
				height="26"
				viewBox="0 0 26 26"
				fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path
					class="accordion-icon__round"
					d="M13 0.999999C6.37259 0.999998 1 6.37258 1 13C1 19.6274 6.37258 25 13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 0.999999Z"
					stroke="black"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					class="accordion-icon__angle"
					d="M18 15L13 10L8 15"
					stroke="black"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
		</button>
		<div
			id="fourth-item-content"
			class="accordion-item__content collapsible collapsible_collapsed text">
			@@text
		</div>
	</div>
</div>
