<div class="adds-on-card">
	<div class="adds-on-card__group">
		<h3 class="adds-on-card__title">@@title</h3>
		<p class="adds-on-card__description text">@@description</p>
	</div>

	<div class="adds-on-card__group">
		<span class="adds-on-card__price">@@price</span>
		<span class="adds-on-card__time">@@time</span>
	</div>

	<div class="adds-on-card__group">
		@@include('./button.html', { 'classes': 'adds-on-card__button btn_regular btn_blue', 'text': 'Add to Your Subscription' })
		<span class="adds-on-card__require">@@require</span>
	</div>
</div>
