@import 'components/article-card';

@import 'sections/join';
@import 'sections/blog';

.p-block {
	padding-block-start: 3rem;
	margin-block-end: 3rem;

	@media screen and (min-width: 768px) {
		padding-block-start: 4.5rem;
		margin-block-end: 4.5rem;
	}
}

.article {
	padding-block-start: 1.5rem;
	margin-block-end: 3rem;

	@media screen and (min-width: 768px) {
		padding-block-start: 3rem;
	}

	@media screen and (min-width: 1440px) {
		max-width: 1024px;
		margin-inline: auto;
	}

	&__head {
		margin-block-end: 1.5rem;

		@media screen and (min-width: 768px) {
			margin-block-end: 2rem;
		}

		@media screen and (min-width: 1024px) {
			padding-inline: 1rem;
		}
	}

	&__date {
		display: inline-block;
		margin-block-end: 1rem;
		border: 1px solid var(--blue);
		border-radius: 100px;
		padding: 0 0.75rem;

		background-color: var(--blue);

		color: var(--white);
	}

	&__title {
		border-bottom: 1px solid;
		padding-block-end: 1rem;
	}

	&__title-break {
		@media screen and (min-width: 500px) {
			display: none;
		}
	}

	&__body {
		display: grid;
		gap: 2rem;

		@media screen and (min-width: 1024px) {
			padding-inline: 1rem;
		}

		@media screen and (min-width: 1440px) {
			padding-inline: 1rem;
			grid-template-columns: 1fr 208px;
			gap: 4rem;
		}
	}

	&__text-content {
		display: grid;
		gap: 1.5rem;
	}

	&__blockquote {
		border-radius: 1.5rem;
		padding: 1.5rem;

		background-color: var(--yellow);

		@media screen and (min-width: 768px) {
			border-radius: 2rem;
			padding: 2rem;
		}
	}

	&__text {
		line-height: 2;
	}

	&__group {
		display: grid;

		&_big-gap {
			gap: 0.75rem;

			@media screen and (min-width: 768px) {
				gap: 1rem;
			}
		}

		&_small-gap {
			gap: 0.25rem;

			@media screen and (min-width: 768px) {
				gap: 0.5rem;
			}
		}
	}

	&__image {
		width: 100%;
		border-radius: 1.5rem;

		@media screen and (min-width: 768px) {
			border-radius: 2rem;
		}
	}

	&__tag {
		justify-self: flex-start;

		display: inline-block;
		border: 1px solid var(--black);
		border-radius: 0.5rem;
		padding: 0.25rem 0.5rem;

		font-family: var(--first-family);
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 1.5;
	}

	&__aside {
	}

	&__author {
		display: grid;
		gap: 0 1rem;
		grid-template-columns: 56px auto;
		grid-template-rows: repeat(2, auto);
	}
}

.author {
	&__image-wrapper {
		grid-row: span 2;
	}
	&__image {
		border-radius: 100%;
	}

	&__name {
		grid-column: 2/-1;
		align-self: flex-end;

		color: var(--black);
	}

	&__role {
		grid-column: 2/-1;
	}
}

.blog {
	&__subtitle {
		margin-block-end: 1rem;
		text-align: center;
	}

	&__title {
		margin-block-end: 2rem;
		text-align: center;

		@media screen and (min-width: 768px) {
			margin-block-end: 3rem;
		}
	}

	&__articles {
	}
}
