@import 'components/article-card.scss';

@import 'sections/join';

.p-block {
	padding-block-start: 3rem;
	margin-block-end: 3rem;

	@media screen and (min-width: 768px) {
		padding-block-start: 4.5rem;
		margin-block-end: 4.5rem;
	}
}

.hero {
	padding-block-start: 1.5rem;
	margin-block-end: 3px;

	@media screen and (min-width: 768px) {
		padding-block-start: 3rem;
	}

	&__wrapper {
		border-radius: 1.5rem;
		padding: 2rem 1.5rem;

		display: grid;

		background-color: var(--black);
		color: var(--white);

		@media screen and (min-width: 768px) {
			border-radius: 2rem;
			padding: 4.5rem 2rem 3rem;
		}

		@media screen and (min-width: 1024px) {
			gap: 5rem;
			grid-template-columns: auto 17.5rem;
			grid-template-rows: repeat(2, auto);
		}
	}
	&__head {
		margin-block-end: 0.5rem;

		@media screen and (min-width: 1024px) {
			margin-block-end: 0;
			grid-column: span 2;
		}
	}

	&__badge {
		display: inline-block;
		margin-block-end: 0.5rem;

		border: 1px solid var(--blue);
		border-radius: 100px;
		padding-inline: 0.75rem;

		color: var(--white);
		background-color: var(--blue);

		@media screen and (min-width: 768px) {
			margin-block-end: 1rem;
		}
	}

	&__title {

		@media screen and (max-width: 425px) {
			font-size: 2.2rem;
		}

	}

	&__info {
		margin-bottom: 5rem;
		display: flex;
		flex-direction: column-reverse;
		align-items: flex-start;
		gap: 1rem;

		@media screen and (min-width: 1024px) {
			margin-block-end: 0;

			align-items: flex-end;
		}
	}

	&__tag {
		border: 1px solid var(--white);
		border-radius: 0.5rem;
		padding: 0.25rem 0.5rem;

		font-family: var(--first-family);
		font-weight: 600;
		font-size: 14px;
		line-height: 1.5;
	}

	&__time-to-read {
	}

	&__button {
	}
}

.articles-grid {
	display: grid;
	gap: 2rem 1rem;
	justify-items: center;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (min-width: 1440px) {
		gap: 3rem 1rem;
		grid-template-columns: repeat(3, 1fr);
	}
}
