@font-face {
	font-family: 'GeneralSans';
	font-display: swap;
	src: url("../fonts/GeneralSans-Italic.woff2") format("woff2"), url("../fonts/GeneralSans-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	font-display: swap;
	src: url("../fonts/GeneralSans-Bold.woff2") format("woff2"), url("../fonts/GeneralSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	font-display: swap;
	src: url("../fonts/GeneralSans-Medium.woff2") format("woff2"), url("../fonts/GeneralSans-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	font-display: swap;
	src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"), url("../fonts/GeneralSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'GeneralSans';
	font-display: swap;
	src: url("../fonts/GeneralSans-Semibold.woff2") format("woff2"), url("../fonts/GeneralSans-Semibold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Neue';
	font-display: swap;
	src: url("../fonts/Neue-Regrade-Bold-BF65af35d84e111.woff2") format("woff2"), url("../fonts/Neue-Regrade-Bold-BF65af35d84e111.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Neue';
	font-display: swap;
	src: url("../fonts/Neue-Regrade-Semibold-BF65af35d8354a8.woff2") format("woff2"), url("../fonts/Neue-Regrade-Semibold-BF65af35d8354a8.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Neue';
	font-display: swap;
	src: url("../fonts/Neue-Regrade-Variable-BF65af35d87b6a7.woff2") format("woff2"), url("../fonts/Neue-Regrade-Variable-BF65af35d87b6a7.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
