@import 'reset';
@import 'fonts';

:root {
	--black: #272727;
	--blue: #3139fb;
	--white: #fcfcfd;
	--yellow: #fffadd;
	--red: #ff3333;

	--first-family: 'GeneralSans', sans-serif;
	--second-family: 'Neue', sans-serif;
}

img {
	max-width: 100%;
}

.h1,
.h2,
.h3 {
	font-weight: 700;
}

.h1 {
	font-family: var(--second-family);
	font-size: 3rem;
	line-height: 1.2;

	@media screen and (min-width: 768px) {
		font-size: 6rem;
		line-height: 1;
		letter-spacing: -0.01em;
	}
}

.h2 {
	font-family: var(--second-family);
	font-size: 2rem;
	line-height: 1.4;

	@media screen and (min-width: 768px) {
		font-size: 3rem;
		line-height: 1.2;
	}
}

.h3 {
	font-family: var(--second-family);
	line-height: 1.4;

	@media screen and (min-width: 768px) {
		font-size: 1.5rem;
		line-height: 1.4;
	}
}

.subheading {
	font-family: var(--second-family);
	font-weight: 600;
	line-height: 1.4;

	@media screen and (min-width: 768px) {
		font-size: 24px;
		line-height: 1.4;
	}
}

.text,
.blockquote {
	font-weight: 500;
	line-height: 1.5;
}

.text,
.text-bold {
	font-family: var(--first-family);
}

.text-bold {
	font-weight: 500;
	line-height: 2;
}

.blockquote {
	font-family: var(--second-family);
	@media screen and (min-width: 48rem) {
		font-size: 1.5rem;
	}
}

.text_sm {
	font-family: var(--first-family);
	font-size: 0.875rem;
	line-height: 1.8;
}

.animated-underline {
	text-decoration: none;
	background-image: linear-gradient(currentColor, currentColor);
	background-position: 0% 100%;
	background-repeat: no-repeat;
	background-size: 0% 1px;
	transition: background-size 0.4s;

	&:focus-visible {
		background-size: 100% 1px;
	}

	@media (hover: hover) {
		&:hover {
			background-size: 100% 1px;
		}
	}

	@media (hover: none) {
		&:active {
			background-size: 100% 1px;
		}
	}
}

@import 'components/button';
@import 'components/feature-card';
@import 'components/article-card';
@import 'components/accordion';
@import 'components/testimonial-card';
@import 'components/footer';
