.collapsible {
	visibility: visible;
	pointer-events: all;
	margin-block-end: 1rem;
	max-height: 100rem;
	overflow: hidden;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	transition: clip-path 0.5s, max-height 0.5s, visibility 0.5s;

	&_collapsed {
		visibility: hidden;
		pointer-events: none;
		margin-block-end: 0;
		max-height: 0;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	}
}

.accordion {
	&__item {
		padding: 0.5rem;
		border-radius: 1.5rem;
		border: 1px solid var(--black);
		color: var(--black);

		transition: background-color 0.3s, color 0.3s;

		&:not(:last-child) {
			margin-block-end: 2rem;
		}

		@media screen and (min-width: 768px) {
			padding: 1rem;
			border-radius: 2rem;
		}

		&:has(.accordion-item__trigger:focus-visible) {
			background-color: var(--black);
			box-shadow: 8px 8px 16px #dbdbdc, -8px -8px 16px #ffffff;
			.accordion-item__trigger {
				color: var(--white);
			}
		}

		@media (hover: hover) {
			&:has(.accordion-item__trigger:hover) {
				background-color: var(--black);
				.accordion-item__trigger {
					color: var(--white);
				}
			}
		}

		@media (hover: none) {
			&:has(.accordion-item__trigger:active) {
				background-color: var(--black);
				.accordion-item__trigger {
					color: var(--white);
				}
			}
		}
	}
}

.accordion-item {
	&__active {
		background-color: var(--black);
		color: var(--white);

		.accordion-item__trigger {
			color: var(--white);
		}

		.accordion-icon {
			&__angle {
				transform: rotateX(180deg);
			}
		}
	}

	&__trigger {
		position: relative;
		padding: 1rem 1rem;
		width: 100%;

		gap: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		font-family: var(--first-family);
		font-weight: 600;
		font-size: 1rem;
		line-height: 1.5;
		text-align: start;

		color: var(--black);
		background-color: transparent;
	}

	&__icon {
		pointer-events: none;
	}

	&__content {
		padding-inline: 1rem;

		@media screen and (min-width: 1440px) {
			max-width: 70%;
		}
	}
}

.accordion-icon {
	&__round {
		transition: stroke 0.3s;
	}

	&__angle {
		transition: transform 0.3s, stroke 0.3s;
		transform-origin: center;
	}
}
