.slider {
	&__controls {
		margin-block-end: 1.5rem;
		align-self: flex-end;

		@media screen and (min-width: 1024px) {
			display: none;
		}
	}

	&__prev-btn {
		margin-inline-end: 1.25rem;
	}

	&__next-btn {
	}
	&__btn {
		background-color: transparent;
		color: var(--white);

		&:focus-visible {
			color: var(--blue);
		}

		@media (hover: hover) {
			&:hover {
				color: var(--blue);
			}
		}

		@media (hover: none) {
			&:active {
				color: var(--blue);
			}
		}
	}

	&__icon {
	}

	&__slide_hidden {
		display: none;
	}
}
