.header {
	padding-block: 12px;
	border-block: 1px solid var(--black);

	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: background-color 0.3s;

	@media screen and (min-width: 768px) {
		padding-block: 16px;
	}

	&_open {
		background-color: var(--black);

		.header__logo {
			margin-inline-start: 20px;
			path {
				fill: white;
			}
		}
	}

	&__logo-link {
		&:focus-visible {
			opacity: 0.8;
		}

		@media (hover: hover) {
			&:hover {
				opacity: 0.8;
			}
		}

		@media (hover: none) {
			&:active {
				opacity: 0.8;
			}
		}
	}

	&__logo {
		max-width: 100px;

		transition: margin-inline-start 0.4s;

		@media screen and (min-width: 768px) {
			max-width: fit-content;
		}

		path {
			transition: fill 0.4s;
		}
	}

	&__nav {
	}
}

.navigation-toggler {
	position: relative;
	transition: background-color 0.3s;

	&__icon {
		position: absolute;
		top: calc(50% - 1px);
		left: calc(50% - 12px);
		margin-inline: auto;
		display: block;
		width: 24px;
		height: 2px;
		border-radius: 8px;
		background-color: var(--white);

		transition: transform 0.3s, background-color 0.3s;

		&::before {
			content: '';
			position: absolute;
			left: calc(50% - 12px);
			top: 8px;
			width: 24px;
			height: 2px;
			border-radius: 8px;
			background-color: var(--white);
			transition: background-color 0.3s;
		}
		&::after {
			content: '';
			position: absolute;
			left: calc(50% - 12px);
			bottom: 8px;
			width: 24px;
			height: 2px;
			border-radius: 8px;
			background-color: var(--white);
			transition: background-color 0.3s;
		}
	}

	&:focus-visible {
		background-color: var(--white);

		.navigation-toggler__icon,
		.navigation-toggler__icon::before,
		.navigation-toggler__icon::after {
			background-color: var(--black);
		}
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--white);

			.navigation-toggler__icon,
			.navigation-toggler__icon::before,
			.navigation-toggler__icon::after {
				background-color: var(--black);
			}
		}
	}

	@media (hover: none) {
		&:active {
			background-color: var(--white);

			.navigation-toggler__icon,
			.navigation-toggler__icon::before,
			.navigation-toggler__icon::after {
				background-color: var(--black);
			}
		}
	}
}

.navigation {
	&__toggler {
		width: 60px;
		height: 45px;
		border: 1px solid var(--black);
		border-radius: 42px;
		padding: 12px;

		background-color: var(--black);

		@media screen and (min-width: 768px) {
			display: none;
		}

		&_active {
			.navigation-toggler__icon {
				transform: rotate(45deg);

				&::before {
					top: 0;
				}
				&::after {
					top: 0;
					transform: rotate(-90deg);
				}
			}
		}
	}

	&__wrapper {
		position: fixed;
		visibility: hidden;
		pointer-events: none;
		z-index: 10;
		opacity: 0;
		left: -100%;
		bottom: 0;

		overflow: auto;
		padding: 40px 36px;
		width: 100%;
		height: calc(100vh - 86.6px);
		height: calc(100dvh - 86.6px);

		display: flex;
		gap: 3rem;
		flex-direction: column;
		justify-content: space-between;

		transition: left 0.3s, opacity 0.3s 0.3s, visibility 0.3s 0.3s;

		background-color: var(--black);

		@media (min-width: 768px) {
			position: initial;
			visibility: visible;
			opacity: 1;

			padding: 0;
			height: auto;
			pointer-events: all;

			gap: 2rem;
			flex-direction: row;

			background-color: transparent;
		}

		@media (min-width: 1024px) {
			gap: 3rem;
		}

		&_active {
			visibility: visible;
			pointer-events: all;
			opacity: 1;
			left: 0;

			&.visible {
				transition: left 0.3s, opacity 0.3s;
			}
		}
	}

	&__links-list {
		display: flex;
		flex-direction: column;
		gap: 32px;

		@media (min-width: 768px) {
			gap: 48px;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
		}
	}

	&__link {
		&:not(.btn) {
			font-family: var(--second-family);
			font-weight: 700;
			font-size: 32px;
			line-height: 1.4;
			color: var(--white);

			&:focus-visible {
				opacity: 0.7;
			}

			@media (hover: hover) {
				&:hover {
					opacity: 0.7;
				}
			}

			@media (hover: none) {
				&:active {
					opacity: 0.7;
				}
			}

			@media (min-width: 768px) {
				font-weight: 500;
				font-size: 16px;
				line-height: 1.5;
				text-align: center;
				color: var(--black);

				text-decoration: none;
				background-image: linear-gradient(currentColor, currentColor);
				background-position: 0% 100%;
				background-repeat: no-repeat;
				background-size: 0% 1px;
				transition: background-size 0.4s;

				&:focus-visible {
					background-size: 100% 1px;
				}

				@media (hover: hover) {
					&:hover {
						background-size: 100% 1px;
					}
				}

				@media (hover: none) {
					&:active {
						background-size: 100% 1px;
					}
				}
			}
		}
	}

	&__buttons {
		display: flex;
		gap: 24px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
	}
}
