.testimonial-card {
	padding: 16px 24px;
	width: min(100%, 22.5rem);
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;

	font-family: var(--first-family);

	@media screen and (min-width: 768px) {
		padding: 32px;
		border-radius: 32px;
	}

	&_blue {
		background-color: var(--blue);
		color: var(--white);

		.testimonial-card__name {
			color: var(--white);
		}
	}

	&_yellow {
		background-color: var(--yellow);
		color: var(--black);
	}

	&__avatar {
		img {
			border-radius: 50%;
			overflow: hidden;
		}
	}

	&__quote {
	}

	&__author {
		text-align: center;
	}

	&__name {
	}

	&__job {
		font-size: 0.75rem;
		line-height: 1.5;
	}
}
