<div class="slider relative">

	<template id="drag-cursor">
		<div class="drag-cursor">
			<span class="drag-cursor__text">Drag</span>
		</div>
	</template>

	<ul class="slider__wrapper relative w-full flex flex-nowrap gap-4 lg:gap-5 overflow-hidden ">
		@@include('./slider-item.html', {
			'img': 'img/first-teammate.jpg',
			'img-webp': 'img/first-teammate.webp',
			'name': 'Emily Thompson',
			'position': 'dance produser',
			'about': 'I love working at Minders. It&#39;s an incredibly dynamic and supportive creative community that fosters collaboration and innovation, leading to truly exceptional design work.',
		})
		@@include('./slider-item.html', {
			'img': 'img/second-teammate.jpg',
			'img-webp': 'img/second-teammate.webp',
			'name': 'Alexander Mitchell',
			'position': 'musician',
			'about': 'I love working at Minders. It&#39;s an incredibly dynamic and supportive creative community that fosters collaboration and innovation, leading to truly exceptional design work.',
		})
		@@include('./slider-item.html', {
			'img': 'img/third-teammate.jpg',
			'img-webp': 'img/third-teammate.webp',
			'name': 'Cary Bennett',
			'position': 'lead designer',
			'about': 'I love working at Minders. It&#39;s an incredibly dynamic and supportive creative community that fosters collaboration and innovation, leading to truly exceptional design work.',
		})
		@@include('./slider-item.html', {
			'img': 'img/fourth-teammate.jpg',
			'img-webp': 'img/fourth-teammate.webp',
			'name': 'Olivia Rodriguez',
			'position': 'AI artist',
			'about': 'I love working at Minders. It&#39;s an incredibly dynamic and supportive creative community that fosters collaboration and innovation, leading to truly exceptional design work.',
		})

		@@include('./slider-item.html', {
			'img': 'img/fifth-teammate.jpg',
			'img-webp': 'img/fifth-teammate.webp',
			'name': 'Sophia Patel',
			'position': 'art produser',
			'about': 'I love working at Minders. It&#39;s an incredibly dynamic and supportive creative community that fosters collaboration and innovation, leading to truly exceptional design work.',
		})
		@@include('./slider-item.html', {
			'img': 'img/sixth-teammate.jpg',
			'img-webp': 'img/sixth-teammate.webp',
			'name': 'Ethan Reynolds',
			'position': 'musician',
			'about': 'I love working at Minders. It&#39;s an incredibly dynamic and supportive creative community that fosters collaboration and innovation, leading to truly exceptional design work.',
		})
		@@include('./slider-item.html', {
			'img': 'img/seventh-teammate.jpg',
			'img-webp': 'img/seventh-teammate.webp',
			'name': 'Liam Kanett',
			'position': 'lead designer',
			'about': 'I love working at Minders. It&#39;s an incredibly dynamic and supportive creative community that fosters collaboration and innovation, leading to truly exceptional design work.',
		})
		@@include('./slider-item.html', {
			'img': 'img/last-teammate.jpg',
			'img-webp': 'img/last-teammate.webp',
			'name': 'Elena Carter',
			'position': 'AI artist',
			'about': 'I love working at Minders. It&#39;s an incredibly dynamic and supportive creative community that fosters collaboration and innovation, leading to truly exceptional design work.',
		})
	</ul>

</div>