.blog {
	&__head {
		text-align: center;
	}

	&__subtitle {
		display: inline-block;
		margin-block-end: 1rem;
	}

	&__title {
		margin-block-end: 1.5rem;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 0 0.75rem;

		@media screen and (min-width: 768px) {
			margin-inline: auto;
			max-width: 80%;
			gap: 0.5rem 0.75rem;
		}
		@media screen and (min-width: 1024px) {
			max-width: 75%;
		}
		@media screen and (min-width: 1440px) {
			max-width: 54%;
		}
	}

	&__title-image {
		width: 120px;
		height: 48px;
		border-radius: 3rem;

		background-image: url(../img/home/train-road.jpg);
		background-size: 100%;
		background-position: center;

		@media screen and (min-width: 768px) {
			width: 180px;
			height: 58px;
		}
	}

	&__description {
		margin-block-end: 3rem;

		@media screen and (min-width: 768px) {
			margin-inline: auto;
			max-width: 75%;
		}

		@media screen and (min-width: 1024px) {
			max-width: 55%;
		}
		@media screen and (min-width: 1440px) {
			max-width: 40%;
		}
	}
}
