.hero {
	padding-block: 1.5rem;

	display: grid;
	gap: 1rem;
	grid-template-rows: auto 20rem;

	@media screen and (min-width: 1024px) {
		grid-template-rows: 640px 320px;
	}

	@media screen and (min-width: 1440px) {
		padding-block: 3rem;

		grid-template-columns: auto 32.5994%;
		grid-template-rows: 640px;
	}

	&__content,
	&__image {
		overflow: hidden;
		border-radius: 1.5rem;

		@media screen and (min-width: 768px) {
			border-radius: 2rem;
		}
	}
	&__content {
		padding: 2rem 1.5rem;
		color: var(--white);
		background-color: var(--black);

		@media screen and (min-width: 768px) {
			padding: 4.5rem 2rem 2rem 2rem;
		}

		@media screen and (min-width: 1024px) {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: 1fr auto;
		}
	}
	&__title {
		margin-block-end: 4.5rem;
		text-transform: uppercase;

		@media screen and (max-width: 425px) {
			font-size: 2rem;
		}

		@media screen and (min-width: 1024px) {
			max-width: 90%;
			grid-row: 1/2;
			grid-column: span 2;
		}

		&_highlight {
			display: inline-block;
			position: relative;
			z-index: 0;

			&::before {
				content: '';
				position: absolute;
				display: block;
				left: 0;
				top: -1rem;
				z-index: -1;

				height: 82px;
				width: 213px;

				background: url(../img/icons/word-highlight.svg) no-repeat;
				background-size: contain;

				@media screen and (max-width: 425px) {
					height: 58px;
					width: 100%;
					top: -10px;
				}

				@media screen and (min-width: 768px) {
					height: 133px;
					width: 346px;
					left: 40px;
					top: -10px;
				}
				@media screen and (min-width: 1024px) {
					left: 60px;
					top: -16px;
				}
			}
		}
	}

	&__slogan {
		margin-block-end: 3rem;
		text-transform: uppercase;

		@media screen and (min-width: 1024px) {
			grid-column: 2 /-1;
			grid-row: 2/-1;

			align-self: end;
			justify-self: end;

			margin-block-end: 0;
			margin-inline-end: 44px;
		}


	}

	&__button {
		width: 100%;
		display: block;

		@media screen and (min-width: 768px) {
			width: fit-content;
		}

		@media screen and (min-width: 1024px) {
			grid-column: 1/2;
			grid-row: 2/-1;
		}
	}

	&__image {
	}
}

.hero-image {
	&__wrapper {
	}

	&__item {
		height: 100%;
		width: 100%;
	}
}
