.statistics {
	display: grid;
	gap: 32px;

	grid-template-columns: 1fr;
	grid-template-rows: auto 320px;

	@media screen and (min-width: 1024px) {
		grid-template-columns: 52.27% auto;
		grid-template-rows: 595px;
	}

	&__content {
		padding: 2rem 1.5rem;
		border: 5px dashed var(--blue);
		border-radius: 1.5rem;
		background-color: var(--yellow);

		@media screen and (min-width: 768px) {
			padding: 2.5rem 2rem;
			border-radius: 2rem;
		}

		@media screen and (min-width: 1024px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.subtitle {
			margin-block-end: 1rem;
			display: inline-block;
		}
	}

	&__title {
		margin-block-end: 2rem;
		color: var(--blue);

		@media screen and (max-width: 425px) {
			font-size: 1.6rem;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 1.5rem;
	}

	&__list-item {
	}

	&__number {
		display: block;
		color: var(--blue);
	}

	&__indicator {
		color: var(--black);
	}

	&__image {
		border-radius: 2rem;
		overflow: hidden;
	}
}
.statistics-image {
	&__wrapper {
	}

	&__item {
		height: 100%;
	}
}
